.adminUsers {
  padding: 2rem;
  color: aliceblue;
}

.usersTable {
  width: 100%;
  border-collapse: collapse;
}

.usersTable th,
.usersTable td {
  padding: 10px;
  border-bottom: 1px solid #333;
}

.usersTable input,
.usersTable select {
  width: 100%;
}

option {
    background-color: white;
}